<%= form_for(@gathering) do |f| %>
  <% if @gathering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gathering.errors.count, "error") %> prohibited this gathering from being saved:</h2>

      <ul>
      <% @gathering.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :start_at %><br>
    <%= f.datetime_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
