<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @gathering.location %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @gathering.start_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @gathering.user %>
</p>

<%= link_to 'Edit', edit_gathering_path(@gathering) %> |
<%= link_to 'Back', gatherings_path %>
